<a href="https://colab.research.google.com/github/geminicopilotgpt/GenAI/blob/main/PythonBasics_Session7_26Feb2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Function with parameter

##sum of two no's
def sumof2nos(no1,no2):
  sum=no1+no2
  print("Sum:",sum)

x=int(input("Enter first no: "))
y=int(input("Enter second no: "))
sumof2nos(x,y);

Enter first no: 2
Enter second no: 2
Sum: 4

In [ ]:
#return value from function
def sumof2nos(no1,no2):
  sum=no1+no2
  return sum

x=int(input("Enter first no: "))
y=int(input("Enter second no: "))
res=sumof2nos(x,y);
print("Sum is: ",res)

Enter first no: 2
Enter second no: 2
Sum is:  4

In [ ]:
#return value from function
def sumof2nos(no1,no2):
  return no1+no2

x=int(input("Enter first no: "))
y=int(input("Enter second no: "))
print("Sum is: ",sumof2nos(x,y))

Enter first no: 2
Enter second no: 2
Sum is:  4

In [ ]:
tup=12,13,14,15
tup

(12, 13, 14, 15)

In [ ]:
#calculator - return multiple values
def airth(no1,no2):
  return no1+no2,no1-no2,no1*no2,no1/no2,no1//no2,no1**no2

x=int(input("Enter first no: "))
y=int(input("Enter second no: "))
res=airth(x,y)
print(res)

Enter first no: 2
Enter second no: 2
(4, 0, 4, 1.0, 1, 4)

In [ ]:
#calculator - return multiple values
def airth(no1,no2):
  return no1+no2,no1-no2,no1*no2,no1/no2,no1//no2,no1**no2

x=int(input("Enter first no: "))
y=int(input("Enter second no: "))
add,sub,prod,fdiv,idiv,expo=airth(x,y)
print("Add: ",add,"\nsub : ",sub,"\nprod: ",prod,"\nfdiv: ",fdiv,"\nidiv: ",idiv,"\nexpo: ",expo)

Enter first no: 2
Enter second no: 2
Add:  4
sub :  0
prod:  4
fdiv:  1.0
idiv:  1
expo:  4

In [ ]:
#default argument
def sumof2nos(no1,no2=5):
  return no1+no2

x=int(input("Enter first no: "))
y=int(input("Enter second no: "))
print("Sum is: ",sumof2nos(x,y))
print("Sum is: ",sumof2nos(x))

Enter first no: 2
Enter second no: 2
Sum is:  4
Sum is:  7

In [ ]:
def sumoflist(lst):
  print(type(lst))
  return sum(lst)


def mymain():
  mylst=[1,2,3,4,5]
  print("sum of list: ",sumoflist(mylst))


mymain()

<class 'list'>
sum of list:  15

In [ ]:
def sumoflist(lst):
  print(type(lst))
  return sum(lst)

def mymain():
  # mylst=[1,2,3,4,5]
  print("sum of list: ",sumoflist(1,2,3,4,5))

In [ ]:
#Variable length argument = pass more than one value
def sumoflist(*args): #*-any
  print(args)
  print(type(args))
  for i in args:
    print(i**2,end=" ")
  return sum(args)

def mymain():
  print("sum of list: ",sumoflist(1,2,3,4,5))


mymain()

(1, 2, 3, 4, 5)
<class 'tuple'>
1 4 9 16 25 sum of list:  15

In [ ]:
#key-value **kwargs
def empInfo(**kwargs):
  print(kwargs)

empInfo(Name="Sugan",Id="12234",Mobi=9876543210,day="Wednesday")

{'Name': 'Sugan', 'Id': '12234', 'Mobi': 9876543210, 'day': 'Wednesday'}

In [ ]:
#key-value **kwargs
def empInfo(**kwargs):
  print(kwargs)
  print(type(kwargs))
  print(kwargs.values())
  print(kwargs.keys())

empInfo(Name="Sugan",Id="12234",Mobi=9876543210,day="Wednesday")

{'Name': 'Sugan', 'Id': '12234', 'Mobi': 9876543210, 'day': 'Wednesday'}
<class 'dict'>
dict_values(['Sugan', '12234', 9876543210, 'Wednesday'])
dict_keys(['Name', 'Id', 'Mobi', 'day'])

In [ ]:
def Info(**kwargs):
  print(kwargs,type(kwargs))
  print(kwargs.values())
  print(kwargs.keys())

Info(List=[10,20,30,40],Tuple=(1,2,3,4),set={"hi","hello","hey"})

{'List': [10, 20, 30, 40], 'Tuple': (1, 2, 3, 4), 'set': {'hello', 'hey', 'hi'}} <class 'dict'>
dict_values([[10, 20, 30, 40], (1, 2, 3, 4), {'hello', 'hey', 'hi'}])
dict_keys(['List', 'Tuple', 'set'])

In [ ]:
def empInfo(*args,**Kwargs):
  print(Kwargs,args)
  print(type(Kwargs),type(args))

empInfo(10,20,30,40,Name="Sugan",Id="12234",Mobi=9876543210,day="Wednesday") #make sure tuple is given first then dictionary values

{'Name': 'Sugan', 'Id': '12234', 'Mobi': 9876543210, 'day': 'Wednesday'} (10, 20, 30, 40)
<class 'dict'> <class 'tuple'>

In [ ]:
#Recursion
# Function that calls itself
# 1.Recursive case
# 2.Termination

In [ ]:
###factorial no=5
# no=5*4*3*2*1=120

In [ ]:
def fact(no):
  if no==1 or no==0:
    return 1
  return no*fact(no-1)

no=int(input("Enter NO: "))
print("Factorial: ",fact(no))

Enter NO: 5
Factorial:  120

In [ ]:
#Lambda
# => Function
# => Keyword = Lambda

# Syntax:

#   fun_object=lambda argument:expression

In [ ]:
def square(no):
  return no**2

no=int(input("Enter No:"))
square(no)

Enter No:5

25

In [ ]:
sq=lambda no:no**2
sq(25)

625

In [ ]:
power=lambda m,n:m**n

m=int(input("M: "))
n=int(input("N: "))
power(m,n)

M: 2
N: 3

8

In [ ]:
def square(no):
  return no**2


lst=[1,2,3,4,5]
res=[]
for i in lst:
  res.append(square(i))

res

[1, 4, 9, 16, 25]

In [ ]:
# Map

In [ ]:
# map(function,*seq) #seq

In [ ]:
def square(no):
  return no**2

lst=[1,2,3,4,5]
print(list(map(square,lst)))
print(tuple(map(square,lst)))

[1, 4, 9, 16, 25]
(1, 4, 9, 16, 25)

In [1]:
lst=[1,2,3,4,5]
print(list(map(lambda no:no**2,lst)))

[1, 4, 9, 16, 25]

In [2]:
def sumoflist(lst1,lst2):
  res=[]
  for i in range(len(lst1)): #0 1 2 3
    res.append(lst1[i]+lst2[i])
  return res

lst1=[1,2,3,4]
lst2=[10,20,30,40]
sumoflist(lst1,lst2)

[11, 22, 33, 44]

In [3]:
lst1=[1,2,3,4]
lst2=[10,20,30,40]

tuple(map(lambda x,y:x+y, lst1,lst2))

(11, 22, 33, 44)

In [4]:
#Filter
def even(no):
  if no%2==0:
    return no

lst=[]

for i in range(1,11):
  x=even(i)
  if x is not None:
    lst.append(x)

print(lst)

[2, 4, 6, 8, 10]

In [6]:
def even(no):
  if no%2==0:
    return no

list(filter(even,range(1,11)))

[2, 4, 6, 8, 10]

In [9]:
list(filter(lambda no:no%2==0,range(1,11)))

[2, 4, 6, 8, 10]

In [10]:
#Reduce

# 1+2+3+4+5
# =>1+2=3+5

In [11]:
# Syntax:

#   import functools
#   functools.reduce(function,seq)

In [13]:
import functools
functools.reduce(lambda x,y:x+y,range(1,6)) #reduce - something to be done based on previous result

15