<a href="https://colab.research.google.com/github/geminicopilotgpt/GenAI/blob/main/PythonSession5Feb25practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
mydict1={}
no=input("Enter value:")
mydict1

Enter value:1

{}

In [2]:
mydict1={}
no=int(input("Enter N val:"))#3

for _ in range(no):
    key=input("Enter key:")
    value=input("Enter value:")
    mydict1[key]=value

mydict1

Enter N val:2
Enter key:1
Enter value:1
Enter key:2
Enter value:

{'1': '1', '2': ''}

In [ ]:
12

In [3]:
mydict={1:'hi','a':123,100:32.4}
mydict[1]

'hi'

In [5]:
del mydict[1]

In [6]:
mydict

{'a': 123, 100: 32.4}

In [7]:
empinfo={'Empname':'Sugan','EmpID':123,'Loc':'Chn','Mobile':987654321}
empinfo

{'Empname': 'Sugan', 'EmpID': 123, 'Loc': 'Chn', 'Mobile': 987654321}

In [8]:
empinfo['Empname']

'Sugan'

In [9]:
empinfo.update({'1':'Red','2':'Yellow'})
empinfo

{'Empname': 'Sugan',
 'EmpID': 123,
 'Loc': 'Chn',
 'Mobile': 987654321,
 '1': 'Red',
 '2': 'Yellow'}

In [10]:
dict2=empinfo.copy()
dict2

{'Empname': 'Sugan',
 'EmpID': 123,
 'Loc': 'Chn',
 'Mobile': 987654321,
 '1': 'Red',
 '2': 'Yellow'}

In [11]:
dict2.pop('2')

'Yellow'

In [12]:
dict2

{'Empname': 'Sugan',
 'EmpID': 123,
 'Loc': 'Chn',
 'Mobile': 987654321,
 '1': 'Red'}

In [13]:
dict2.popitem() #LIFO(stack) - last element will get removed
dict2

{'Empname': 'Sugan', 'EmpID': 123, 'Loc': 'Chn', 'Mobile': 987654321}

In [16]:
dict2.clear() #clear the entire dictionary, make it empty

In [17]:
dict2

{}

In [20]:
empinfo.keys()

dict_keys(['Empname', 'EmpID', 'Loc', 'Mobile', '1', '2'])

In [21]:
empinfo.values()

dict_values(['Sugan', 123, 'Chn', 987654321, 'Red', 'Yellow'])

In [22]:
empinfo.items() #o/p list of tuples

dict_items([('Empname', 'Sugan'), ('EmpID', 123), ('Loc', 'Chn'), ('Mobile', 987654321), ('1', 'Red'), ('2', 'Yellow')])

In [23]:
#fromkeys
tup=('a','b','c','d','e')
mydict=dict.fromkeys(tup,100)
mydict

{'a': 100, 'b': 100, 'c': 100, 'd': 100, 'e': 100}

In [24]:
#fromkeys
tup=['a','b','c','d','e']
mydict=dict.fromkeys(tup)
mydict

{'a': None, 'b': None, 'c': None, 'd': None, 'e': None}

In [25]:
for var in mydict:
  print(var)

a
b
c
d
e

In [26]:
for var in mydict: #=key,value
  mydict[var]=input()

mydict

10
20
30
40
50

{'a': '10', 'b': '20', 'c': '30', 'd': '40', 'e': '50'}

In [27]:
#setdefault
dict3={
    'Empname':'Sugan',
    'Loc':'Chn',
    'Mobile':987654321
}
dict3

{'Empname': 'Sugan', 'Loc': 'Chn', 'Mobile': 987654321}

In [29]:
print(dict3.setdefault('Domain'))
print(dict3)
print(dict3.setdefault('Loc')) #if it is already present, it will not get added to the dictionary
print(dict3)
print(dict3.setdefault('Des','Trainer'))
print(dict3)

None
{'Empname': 'Sugan', 'Loc': 'Chn', 'Mobile': 987654321, 'Domain': None}
Chn
{'Empname': 'Sugan', 'Loc': 'Chn', 'Mobile': 987654321, 'Domain': None}
Trainer
{'Empname': 'Sugan', 'Loc': 'Chn', 'Mobile': 987654321, 'Domain': None, 'Des': 'Trainer'}

In [30]:
#Nested Dictionary
mydict={1:'hi','abc':123,'color':{1:'Blue',2:'Orange',3:'Red'},5:'Python'}
mydict

{1: 'hi', 'abc': 123, 'color': {1: 'Blue', 2: 'Orange', 3: 'Red'}, 5: 'Python'}

In [31]:
mydict[1]

'hi'

In [32]:
mydict['color']

{1: 'Blue', 2: 'Orange', 3: 'Red'}

In [33]:
mydict['color'][2]

'Orange'

In [34]:
#dictionary comprehension
dict3

{'Empname': 'Sugan',
 'Loc': 'Chn',
 'Mobile': 987654321,
 'Domain': None,
 'Des': 'Trainer'}

{key:value for itr in seq}

itr in seq = will iterate over all the elements in the dictionary

key:value = will print the element iterated by itr

In [35]:
{k:v for (k,v) in dict3.items()} #item=>tuple
#(k,v) will store the elements came from dict3.items() which will return both keys and values as we are using .items() method
#k:v will print those items iterated by (k:v) in the console

{'Empname': 'Sugan',
 'Loc': 'Chn',
 'Mobile': 987654321,
 'Domain': None,
 'Des': 'Trainer'}

In [37]:
#change the values in dictionary
newdict={'a':1,'b':2,'c':3,'d':4,'e':5}
{k:v**2 for (k,v) in newdict.items()} #item=>tuple

{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}

In [38]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [41]:
{i:i**2 for i in range(1,11) if i%2==1} #all the odd numbers will be picked in range

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [45]:
#SET = unordered collection of data
#never allow duplicates
#Mutable(can change the values)
#{} = braces

In [46]:
#create a set
myset={}
type(myset)

dict

In [47]:
myset=set()
type(myset)

set

In [48]:
s1=set([1,2,3,4])
s1

{1, 2, 3, 4}

In [49]:
#unordered
myset={1,2,3,'Sai',4}
myset

{1, 2, 3, 4, 'Sai'}

In [50]:
#value should be unique
myset={1,2,3,222,1,2,3}
myset

{1, 2, 3, 222}

In [52]:
#Accessing set
#no order - no indexing
#iterate the set
for i in myset:
  print(i,end=" ")

1 2 3 222

In [57]:
# #Modify and delete
# del myset
# myset #deleting/modification of single element is not possible

In [87]:
#Method
myset=set()
myset.add(10)
myset.add(20)
myset

{10, 20}

In [64]:
myset1=set()
no=int(input('Enter n value:'))
for i in range(no):
  myset1.add(input('Enter value:'))
myset1

Enter n value:2
Enter value:1
Enter value:amit

{'1', 'amit'}

In [67]:
#update
myset

{10, 20}

In [68]:
myset1

{'1', 'amit'}

In [69]:
myset.update(myset1)
myset

{'1', 10, 20, 'amit'}

In [72]:
#copy
mycopy = myset.copy() #copy the set into another set
mycopy

{'1', 10, 20, 'amit'}

In [73]:
#clear
mycopy.clear() #clear the entire set
mycopy

set()

In [74]:
#remove
myset

{'1', 10, 20, 'amit'}

In [75]:
myset.remove(20)

In [77]:
myset

{'1', 10, 'amit'}

In [79]:
#discard
myset.discard('1')
myset

{10, 'amit'}

In [82]:
myset.discard('1') #it will never throw error, if its present it will remove, if its not present it will not throw any error

In [88]:
#pop
myset
myset.pop() #remove the last value from the set

10

In [93]:
#Others Method
#union
s1={1,2,3,4}
s2={2,3,5,6}
print(s1.union(s2))
s1
print(s1|s2) #pipe symbol also does the union of two set

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [98]:
#intersection
print(s1.intersection(s2))  #will give the common values only
print(s1&s2)

{2, 3}
{2, 3}

In [103]:
#requirement for updation -intersection_update()
s3=(s1.intersection_update(s2))
print(s3)
print(s1) #set1 values will get updated in intersection_update

None
{2, 3}

In [110]:
#difference = will give difference of two sets
print(s1)
print(s2)
print(s2.difference(s1)) #subtract s1 from s2
print(s1,s2) #s1, s2 won't get affected

{2, 3}
{2, 3, 5, 6}
{5, 6}
{2, 3} {2, 3, 5, 6}

In [112]:
#difference_update
print(s2.difference_update(s1))
print(s1,s2)
print(s2)

None
set() {2, 3, 5, 6}
{2, 3, 5, 6}

In [117]:
#symmteric difference = will give uncommon values from both sets
s1={1,2,3,4,5,6}
print(s1,s2)
print(s1.symmetric_difference(s2))
print(s2.symmetric_difference(s1))
print(s2.symmetric_difference_update(s1))

{1, 2, 3, 4, 5, 6} {2, 3, 5, 6}
{1, 4}
{1, 4}
None

In [121]:
#isdisjoint
s1={1,2,3,4}
s2={5,6,7,8}
print(s1.isdisjoint(s2)) #return if interaction of both the sets in None

True

In [122]:
#subset
s1={2,3}
s2={2,3,4,5}
print(s1.issubset(s2))

True

In [125]:
#superset
print(s2.issuperset(s1)) #s2 contains all the values of s1

True

In [127]:
#Functions - sum(), max(), min(), len(), all(), any(), sorted() - original list remain unaffected

In [129]:
#Frozen set = make set immutable(can't change values of set)

In [135]:
myset=frozenset(s1) #immutable, no nested set
print(myset)

frozenset({2, 3})

In [139]:
#comprehension(set)
"""{expression for itr_var in seq}"""

'{expression for itr_var in seq}'

In [140]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [142]:
{i/10 for i in range(1,11)}

{0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0}

In [143]:
{i for i in range(11)}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [145]:
{i for i in range(11) if i%2==1} #odd numbers

{1, 3, 5, 7, 9}